.main_box {
  padding: 0;
  margin: 0;
  background-color: rgba(black, .3);
}

.decoration_box {
margin: 0;
padding: 0;
color: rgba(lightgrey, .8);
}

.title_box {
margin: 0 0 0 10px;
font-size: 20px;
}

.close_btn_box {
padding: 0 7px 2px 9px;
font-size: 23px;
}

.close_btn_box:hover {
color: red;
font-size: 23px;
text-shadow: 0 0 10px red;
}

.list {
margin: 5px 10px 5px 10px;
padding:0;
box-shadow: 0 0 10px black;
}

.items {
padding: 0;
margin:0;
}

.item {
padding:0;
margin: 10px 5px 10px 5px;
font-size: 25px;
color: rgba(darkgrey, 1);
border: 2px dotted rgba(lightgrey, .4);
}

.item:hover {
border: 2px solid rgba(darkgrey, .4);
color: rgba(white, 1);
}
